<h1>글쓰기</h1>
<%= form_tag '/posts/create', method: "posts" do %>
    <%= text_field_tag :title, nil, placeholder: "제목을 입력해주세요", style: "width: 400px; height: 50px" %><br><br>
    <%= text_area_tag :content, nil, placeholder: "내용을 입력해주세요", style: "width: 400px; height: 100px" %><br>
    <%= submit_tag '작성' %>
<% end %>